.plane {
    color: var(--main-text-color);
    color: var(--main-text-color);
    transform: scale(1.3) rotate(-90deg);
    padding: 0.4em;
}

.plane-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plane-details {
    margin: 0;
    padding: 0;
}