.infoCardHead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "arrival center departure";
    background: darkgrey;
    padding: 0px 9px 0px 9px;
}

    .departure {
        font-size: 1.5rem;
        text-align: left;
    }

    .center {
        display: grid;
        justify-content: center;
        align-content: center;
    }

        .centershape {
            height: 70px;
            width: 70px;
            margin-top: 5px;
            border-radius: 50%;
            background: #ffcc08;
            display: grid;
            justify-content: center;
            align-content: center;
        }

            .planeIcon {
                transform: rotate(-30deg);
                font-size: 50px;
                margin-bottom: 4px;
                margin-left: 4px;
            }


    .arrival {
        font-size: 1.5rem;
        text-align: right;
    }

@media only screen and (max-height: 670px) {
    .infoCardHead {
        grid-template-rows: "100px";
    }
        .centershape {
            height: 40px;
            width: 40px;
        }
            .planeIcon {
                font-size: 30px;
            }
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 0.7rem;
    }
    p {
        font-size: 0.5rem;
    }
}